body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
    
}
.bb{
    color: blueviolet;
}
.Flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 70%;
}
.link-box{
    text-decoration: none;
    font-weight: 700;
    color: cornsilk;
    padding: 10px 20px;
    border-radius: 10px;
    background-image: linear-gradient(blueviolet, violet);
}
.top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png );
    background-repeat: no-repeat;
    background-position: right;
    
}
.experience-item{
    box-shadow: 10px 10px 40px greenyellow;    
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px 20px;
    padding: 10px 20px;
    text-align: justify;
    
    
}
.experience{
    margin-left: 40px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    
    
}
#web-dev{
    border-left: 7px solid;
     border-image: linear-gradient(greenyellow, green);
     border-image-slice: 1;
    }
    #full-stack{
     border-left: 7px solid;
     border-image: linear-gradient(rgb(27, 66, 196), rgb(30, 128, 185));
     border-image-slice: 1;
    }
    footer p{
        text-align: center;
    }